.container {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: min(2rem, 10vw);
    width: min(90vw, calc(20rem * 3 + 2rem * 4 + 4px));
}


.button {
    width: min(20rem, 90vw);
    height: 15rem;
    border: 2px solid #303030;
    border-radius: 8px;
}

.button_icon {
    font-size: 4rem;
}